*{
  /* box size will not be change */
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: rgb(50, 79, 207);
  font-size: 2.2rem;
}
li{
  list-style: none;
}
.input-box{
  display: block;
  height: 80%;
  width: 40vw;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem 1.5rem;
}
.main-container {
  padding-top: 2rem;
  font-family: 'Karantina', cursive;
  color: rgb(255, 255, 255);
  text-align: center;
}
.task-list {
  padding-left: 0;
}
.action{
  background-color: green;
  width: 60%;
  margin: 0 auto;
}
.task {
  height: 2rem;
  width: 60%;
  background-color: rgb(50, 195, 224);
  margin: 0 auto;
  margin-top: 01.5rem;
}

/* media queries -> screen size */
@media only screen and (max-width: 800px) {
  .input-box {
      width: 60vw;
  }
}